*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/dictionaries
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/buildSrc/build/*
/.idea/detekt.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/jarRepositories.xml
/.idea/sonarlint/
/.idea/deploymentTargetDropDown.xml
/support/detekt-compose-0.4.4-all.jar
/support/ktlint-compose-0.4.4-all.jar
/.kotlin/sessions/kotlin-compiler-1504411908090839462.salive
/.kotlin/sessions/kotlin-compiler-16892680711244246753.salive
